.add-question-wrapper {
  display: flex;
  justify-content: center;

  form {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;

    label {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    input {
      height: 35px;
    }

    select {
      height: 35px
    }

    .form-submit {
      margin-top: 30px !important;
      width: 100px !important;
      margin: 0 auto;
    }
  }
}
