.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

button {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 175px !important;
}

.img-container {
  img {
    width: 25px;
    margin-top: 5px;
    margin-left: 5px;
  }
}

.header {
  .history {
    padding-left: 5px;
    padding-right: 5px;
  }
}
